body {
    background-color: orange;
}

#navlinks {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

#navlinks nav {
    background-color: #012051;
}

/*Base Header*/
.headerBanner{
    text-align: center;
}
.banner {
    position: relative;
}
.banner h1 {
    position: absolute;
    width: 100%;
    color: #012051;
    line-height: 200px;
    margin: 0;
    padding-top: 5%;
    font-family: 'Fugaz One', cursive;
    font-size: 5em;
}
.banner h4 {
    position: absolute;
    width: 100%;
    color: #012051;
    line-height: 200px;
    margin: 0;
    padding-top: 10%;
    font-family: 'Fugaz One', cursive;
    font-size: 2em;
}

.headerstrip img {
    border-radius: 50%;
    margin-left: 90px;
    width: 150px;
    height: 150px;
}


#info {
    background-color: blueviolet;
    text-align: center;
}

#info li {
    list-style: none;
}


/*Index Page*/

.postlist ul{
    list-style-type: none;
}

.postinfo p {
    display: inline;
    font-size: 1.5em;
}
.postfollow p {
    display: inline;
}
.postfollow {
    float: right;
}
.postactions {
    float: right;
}
.postactions a:link {
    font-size: .5em;
}

.postcontent p {
    font-size: 2em;
}