<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Message Form</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Style CSS-->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
<div th:replace="base :: navlinks"></div>
<div th:replace="base :: header"></div>

<div class="container" style="padding-top: 2em">
    <div class="row">
        <div class="col-sm-4">
            <div id="info">
                <div sec:authorize="isAuthenticated()">
                    <div class="name">
                        <h4 th:inline="text">[[${user.firstName}]] [[${user.lastName}]]</h4>
                        <h5 th:inline="text">@[[${user.username}]]</h5>
                    </div>

                    <div>
                        <h3>Followed Users</h3>
                        <ul th:each="followed : ${user.getFollowed()}">
                            <li th:text="${followed.username}"></li>
                        </ul>
                    </div>

                    <div>
                        <h3>Followed By</h3>
                        <ul th:each="person : ${users}">
                            <div th:if="${person.getFollowed().contains(user) && person.getId() != user.getId()}">
                                <li th:text="${person.username}"></li>
                            </div>
                        </ul>
                    </div>
                </div>

                <div sec:authorize="isAnonymous()">
                    <div>
                        <h5>Current Users</h5>
                        <ul th:each="user : ${users}">
                            <li th:text="${user.getUsername()}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8" style="text-align: center">
            <h2><em>Message</em></h2>
            <p >Enter your message and hit the submit button to post it.</p>

            <form action="#" th:action="@{/process}" th:object="${message}" method="post"> <!--enctype="multipart/form-data"-->
                <input type="hidden" th:field="*{id}" />
                 <h4>Title: </h4> <input type="text" th:field="*{title}" />
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span> <br />

                            <!--                        <h4>Posted By: </h4><input type="text" th:field="*{postedBy}" />-->
                            <!--                        <span th:if="${#fields.hasErrors('postedBy')}" th:errors="*{postedBy}"></span><br />-->

                <h4>Posted By: </h4><span th:text="${user.getUsername()}"></span>

                <h4>Date Posted: </h4><input type="text" th:field="*{postedDate}" />
                <span th:if="${#fields.hasErrors('postedDate')}" th:errors="*{postedDate}"></span><br />

                <h4>Content: </h4><textarea rows="5" cols="50" th:field="*{content}" ></textarea>
                <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span> <br />

                <!--<input type="file" name="file"><br />-->


                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>

<section style="padding-top: 60px">

</section>

<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>