<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:inline="text">[[${user.username}]]'s Page</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Style CSS-->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>

<div th:replace="base :: navlinks"></div>
<div th:replace="base :: header"></div>

<div class="container" style="padding-top: 2em">
    <div class="row">
        <div class="col-sm-4">
            <div id="info">
                <div sec:authorize="isAuthenticated()">
                    <div class="name">
                        <h4 th:inline="text">[[${user.firstName}]] [[${user.lastName}]]</h4>
                        <h5 th:inline="text">@[[${user.username}]]</h5>
                    </div>

                    <div>
                        <h3>Followed Users</h3>
                        <ul th:each="followed : ${user.getFollowed()}">
                            <li th:text="${followed.username}"></li>
                        </ul>
                    </div>

                    <div>
                        <h3>Followed By</h3>
                        <ul th:each="person : ${users}">
                            <div th:if="${person.getFollowed().contains(user) && person.getId() != user.getId()}">
                                <li th:text="${person.username}"></li>
                            </div>
                        </ul>
                    </div>
                </div>

                <div sec:authorize="isAnonymous()">
                    <div>
                        <h5>Current Users</h5>
                        <ul th:each="user : ${users}">
                            <li th:text="${user.getUsername()}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-8">
            <div style="text-align: center;">
                <img th:src="${user.getProfilePic()}" alt="Profile Icon" style="border-radius: 50%;"/>
            </div>
            <div th:if="${messages != null}">
                <ul th:each="message : ${user.getMessages()}">
                    <li>
                        <span class="postinfo">
                            <!--<img src="" alt="icon"/>-->
                            <p><strong th:text="${message.getUser().firstName}"></strong></p>
                            <p th:inline="text"><strong>@</strong>[[${message.getUser().username}]]</p>
                            <p th:inline="text"> &#8226; [[${message.getPostedDate()}]]</p>
                        </span>
                        <span class="postactions">
                            <a style="font-size: 1.5em; text-align: center" th:href="@{/update/{id}(id=${message.id})}">Update</a>

                            <a style="font-size: 1.5em; text-align: center" th:href="@{/detail/{id}(id=${message.id})}">Details</a>

                            <a style="font-size: 1.5em; text-align: center" th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
                        </span>
                        <div class="postcontent">
                            <p th:text="${message.getTitle()}" style="text-align: center; padding-bottom: 0;"></p>
                            <p th:text="${message.getContent()}"></p>
                            <hr />
                            <!--<img th:src="${message.getImage()}" alt="post Image" height="350px" width="350px"/>-->
                        </div>
                    </li>
                </ul>
            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>